@font-face {
  font-family: japa;
  src: url(./3413twklausanne.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

section {
  height: 100%;
  width: 100%;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
}

.part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

nav h1 {
  font-size: 50px;
}

nav h1 i {
  display: inline-block;
  rotate: 45deg;
  font-size: 55px;
}
nav h4 {
  font-size: 25px;
  font-weight: 500;
}

nav button {
  padding: 18px 30px;
  font-size: 22px;
  background-color: transparent;
  border-radius: 10px;
  font-weight: 570;
  border: 2px solid black;
  cursor: pointer;
}

.center {
  padding: 40px;
  height: 100%;
  width: 100%;
  display: flex;
}

.center-part1 {
  height: 100%;
  width: 60%;
}

.center-part1 h1 {
  line-height: 1.2;
  font-weight: 500;
  font-size: 110px;
  font-family: japan;
}

.center-part1 p {
  font-size: 30px;
  width: 90%;
  margin-top: 50px;
  margin-bottom: 35px;
}

.center-part1 button {
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 28px 40px;
  font-size: 25px;
  border: none;
  font-weight: 500;
}

.center-part2 {
  height: 100%;
  width: 40%;
  position: relative;
}

.center-part2 img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.section1bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
}
.section1bottom img {
  height: 50px;
  width: 100px;
}

.section2 {
  margin: 20% 0;
  position: relative;
}

.section2 .services {
  padding: 40px 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.services h1 {
  background-color: #9ae975;
  font-weight: 500;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 40px;
  font-family: japan;
}

.services p {
  width: 50%;
  font-size: 20px;
  font-weight: 500;
}

.container {
  height: 86%;
  width: 100%;
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.elem {
  flex-shrink: 0;
  height: 400px;
  width: 48%;
  border: 3px solid black;
  border-radius: 50px;
  margin-bottom: 50px;
  box-shadow: 0 10px 0 black;
  padding: 50px;
  display: flex;
}

.elem-part1 {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.elem-part2 {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elem-part2 img {
  height: 100%;
  width: 100%;
}

.elemblack {
  background-color: black;
  color: white;
}

.elem h2 {
  font-size: 35px;
  font-weight: 500;
  font-family: japan;
  background-color: #9ae975;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
}
.elemblack h2 {
  background-color: white;
  color: black;
}
.elem h4 {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
}

.elem h4 i {
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  background-color: black;
  color: #9ae975;
  font-size: 30px;
}

.elemblack h4 i {
  background-color: white;
  color: black;
}

.section3 {
  margin: 25% 0;
  height: 0px;
}

.sec3ele {
  margin: 0 40px;
  width: 95%;
  height: 300px;
  background-color: rgb(218, 219, 220);
  border-radius: 50px;
  margin-bottom: 50px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.sec3-part1 {
  height: 100%;
  width: 35%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}

.sec3-part1 h2 {
  font-family: japan;
  font-weight: 500;
}

.sec3-part1 button {
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 14px 20px;
  font-size: 25px;
  border: none;
  font-weight: 500;
  font-family: japan;
}

.sec3-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  position: relative;
}

.sec3-part2 img {
  position: absolute;
  width: 50%;
  top: 2%;
}

.section4 {
  margin: 25% 0;
  height: 0px;
}
.section4 .case-study {
  padding: 40px 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.case-study h1 {
  background-color: #9ae975;
  font-weight: 500;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 40px;
  font-family: japan;
}

.case-study p {
  width: 50%;
  font-size: 20px;
  font-weight: 500;
}

.sec4{
    margin-top: 2%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec4 div{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid white;
    padding: 40px;
}

#sec4-part3{
    border: 0;
}

#bottom{
    margin-top: 35%;
    
}